<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiftLog">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.LiftLog.Starting"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WorkoutActivity"
            android:label="Workout"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".CustomWorkoutActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".BackupActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".HistoryActivity"
            android:label="History"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".BodyWeightActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ExerciseProgressActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SummaryActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".WorkoutDetailActivity"
            android:label="Workout Details"
            android:parentActivityName=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".PlanActivity"
            android:label="Workout Plan"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".PlanDayActivity"
            android:exported="false" />

        <service
            android:name=".service.BreakTimerService"
            android:foregroundServiceType="specialUse"
            android:exported="false">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Workout rest timer" />
        </service>
        <receiver
            android:name=".service.BreakTimerReceiver"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>